<div class="container">
    <!--<div class="content"  id="chernoff-demo-base"></div>-->
    <section class="content">
        <div class="menuToggle" *ngFor="let button of buttonsArr">
            <div class="buttonToggle" [class.pressed]="button.pressed" (click)="pressButton(button.name)">{{button.name}}</div>
        </div>
        <div *ngIf="buttonsArr[activeButton].name=='Standart'; then standart; else marks"></div>
        <ng-template #standart>
            <span class="input input--kaede" *ngFor="let input of characteristicsMass" [class.input--filled]="input.completed">
                <input class="input__field input__field--kaede" step="0.25" type="number" id={{input.name}} (input)="isEmpty($event,input.name)" />
                <label class="input__label input__label--kaede" for={{input.name}}>
                    <span class="input__label-content input__label-content--kaede">{{input.name}}</span>
                </label>
            </span>
        </ng-template>
        <ng-template #marks>
            <span class="input input--kaede" *ngFor="let mark of marksMass" [class.input--filled]="mark.completed">
                <input class="input__field input__field--kaede" step="0.25" type="number" id={{mark.name}} (input)="isEmpty($event,mark.name)" />
                <label class="input__label input__label--kaede" for={{mark.name}}>
                    <span class="input__label-content input__label-content--kaede">{{mark.name}}</span>
                </label>
            </span>
        </ng-template>
    </section>
 </div>


