@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title</h2>
<h3>Пиктографика. Лица Чернова</h3>
<p>Одним из мощных средств разведочного анализа данных являются многомерные пиктографики. 
    Главная идея пиктографиков состоит в представлении отдельных единиц наблюдения в виде определенных графических объектов, 
    при этом значения переменных ставятся в соответствие определенным характеристикам или параметрам этих объектов 
    (обычно одно наблюдение соответствует одному объекту). Лица Чернова - это особый вид пиктографиков, позволяющих 
    нагляднее отслеживать малейшие изменения в данных, в связии с особенностью восприятия лиц людьми. Данная программа - реализация данной визуализации</p>
